body{
    margin-top:5rem;
    background-color: #f2f4fc;
    font-family: 'Roboto', sans-serif;
}
header{
    margin-left: 54rem;
    margin-right: 52rem;
}
#mobile{
    display: none;
}


.entrada{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}

ul a {
    text-decoration: none;
    text-align: center;
    color:#6b708d;
    font-size: 0.85rem;

}

.imagenlogo1{
    display: flex;
    height: 15px;
    padding-top: 1rem;

}

.img-final{
    display: flex;
    height: 5rem;
    justify-content: space-between;
}

.entrada ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.customer{
    padding-right: 1rem;
}
.buttonini{
    background-color: #072ac8;
    color: white;
    padding: 0.8rem;
    border: none;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.organizar{
    padding: 5rem 15rem;
    align-items: center;
    
}

#form{
    align-items: center;
}

#form h4{
    color:#6b708d;
    font-size: 1.25rem;
}

.contactus{
    display: block;
    text-align: center;
    font-size: 2.4rem;
    margin-right: 39rem;
}

.name {
    margin-right: 13rem;
    font-size: 1.25rem;
    margin-left: 15rem;
    
}

.name input{
    height: 3rem;
    width: 60rem;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
}
.email-phone{
    display: inline-flex;
    justify-content: space-evenly;
    margin-left: 2.5rem;
}

.email{
    margin-right: 1rem;
}

.button-sum{
    align-items: center;
    width: 60.5rem;
    height: 4rem;
    border: none;
    background-color: #072ac8;
    color: white;
    margin-top: 2rem;

}

.email input{
    height: 3rem;
    width: 29.5rem;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);

}
.phone input{
    height: 3rem;
    width: 29.5rem;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
}
.message{
    margin-left: 2.2rem;
}

.message textarea{
    width: 60.2rem;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);

}

.imagenlogo2{
    height: 1.5rem;
    padding-bottom: 1rem;
}
.final{
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    font-family: 'Roboto', sans-serif;
}
.contact{
    color:white;
    text-decoration: none;
}

.final ul
    {
    display: flex;
    flex-direction: column;
    align-items: center;
align-content: center;}

.list1{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 3rem;
    margin-right: 2rem;
}

.list1 a{
    padding-right: 2rem;
    color:#0000EE;
    font-size: 0.85rem;
}

.list2{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 3rem;
}

.list2 a{
    padding-right: 2rem;
    color:#0000EE;
    font-size: 0.85rem;
}
.final p{
    color:#6b708d;
}

footer{
    margin-left: 63.4rem ;
    margin-right: 57.5rem ;
}



@media (max-width:769px){

    body{
        margin:0rem;
        padding: 0rem;
        background-color: #f2f4fc;
        font-family: 'Roboto', sans-serif;
    }
    #mobile{
        display: block;
    }
    
    #computer{
        display: none;
    }
    
    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        border: none;
        background: #f2f4fc;
        cursor: pointer;
      }
      .closeIcon {
        display: none;
      }
      .menu {
        flex-direction: column;
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: #f2f4fc;
        color: white;
        list-style: none;
      }
      .showMenu {
        transform: translateY(0);
      }

    .buttonini{
        display: none;
    }
}

