body{
    margin: 0;
    background-color: #f2f4fc;
    font-family: 'Roboto', sans-serif;
}

.entrada{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
    align-content: center ;
}

ul a {
    text-decoration: none;
    text-align: center;
    color:blue;
    margin: 0 3em 5em 3em;
}

.imagenlogo1{
    display: flex;
    justify-content: flex-start;
    height: 15px;
    padding-left: 2%;
    padding-top: 2% ;
}

ul{
    display: flex;
    justify-content: center;
}

.one-page{
    display: flex;
    align-content: space-around;
}

.carts{
    width: 35rem;
    align-content: flex-end;
    padding-right: 5rem;
    padding-top: 6rem;
}
.one-page h1{
    font-size: 3rem ;
    text-align: center;
    text-align: left;
}
.paragraph-one{
 text-align: center;
}

.container{
    height: 5rem;
    align-items: center;
    align-content: center;
    position: relative;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.articles{
    display: inline-flex;
    justify-content: space-around;
    padding-top: 5rem;
}

.projects h2{
    text-align: center;
    padding-top: 5rem;
}

.projects article{
    text-align: center;

}

.title-one{
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-left: 12rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.button-one{
    display:flex;
    padding-top: 1rem;
}