body{
    margin-top:5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #f2f4fc;
    font-family: 'Roboto', sans-serif;
}

.entrada{
    display: flex;
    justify-content: space-around;
    padding-bottom: 3rem;
}
.list-mobile{
    display: none;
}
ul a {
    text-decoration: none;
    text-align: center;
    color:#6b708d;
    font-size: 0.85rem;

}

.imagenlogo1{
    display: flex;
    height: 15px;
    padding-top: 1rem;

}

.img-final{
    display: flex;
    height: 5rem;
    justify-content: space-between;
}

.entrada ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.customer{
    padding-right: 1rem;
}
.buttonini{
    background-color: #072ac8;
    color: white;
    padding: 0.8rem;
    border: none;
}

.one-page{
    display: flex;
    align-content: space-between;
    padding-right: 3rem;
}

.carts{
    width: 37rem;
}
.one-page h1{
    font-size: 2.5rem ;
    text-align: center;
    text-align: left;
}
.paragraph-one{
 text-align: center;
}

.container{
    height: 4rem;
    padding-left: 3rem;
    width: 50rem;
}
#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.button-see{
    border:none;
    background-color: #f2f4fc;
    color: #6b708d;
    padding: 0.8rem 3rem;
    
}
.button-get{
    background-color: #072ac8;
    color: white;
    padding: 0.8rem 2rem;
    border: none;
}
.rectangle1{
    height: 10rem;
}

.simplify{
    background-color: white;
    padding-bottom: 2rem;
}
.articles{
    display: inline-flex;
    justify-content: space-evenly;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#projects h2{
    text-align: center;
    padding-top: 5rem;
}

#projects article{
    text-align: center;

}

.title-one{
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.button-one{
    display:flex;
    padding-top: 1rem;

}
.all-clients{
        background-color: #2D3F64;
}

.first-faces{
    display: flex;
    justify-content: space-evenly;
}

.blond{
    height: 8rem;
    padding-top: 3rem;
    padding-left: 3rem;
}

.brown{
    height: 8rem;
    align-items: flex-end;
    padding-left: 30rem;
    padding-top: 3rem;
    
}

.clients{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

.clients h1 {
    font-size: 2rem;
}

.yellow{
    text-align: center;
    color: #ffc600;
    font-size: 1.25rem;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-bottom: 3rem ;
    padding-top: 5rem ;
}

.coment {
    display: inline-flex;
    padding: 0rem;
}

.photo-woman{
    height: 2.5rem;
    padding-top: 1rem;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.woman-name{
    color: #a2d6f9;
    font-size: 0.85rem;
}
.web{
    font-size: 0.6rem;
}

.end-faces{
    display: flex;
    justify-content: space-evenly;
}

.man1{
    height: 8rem;
    padding-top: 3rem;
    padding-left: 3rem;
}

.man2{
    height: 8rem;
    padding-top: 3rem;
    padding-left: 30rem;
}

.services-list{
    display: inline-flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 5rem;
    align-items: center;
}
.all-services{
    padding-top: 5rem;   
    padding-bottom: 5rem ;
}



.all-services h2{
    font-size: 2rem;
}

.sections{
    background-color: white;
    padding-bottom: 2rem;
    margin-right: 1rem;
}

.icono{
    height: 3rem;
    padding-top: 1rem;
    padding-left: 1rem;
}


.suscribe{
    background-color: #ffc600;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 10rem;
}

.imagenlogo2{
    height: 1.5rem;
    padding-bottom: 1rem;
}
.final{
    padding-top: 10rem;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.final ul
    {
    display: flex;
    flex-direction: column;}

.list1{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-bottom: 3rem;
}

.list1 a{
    padding-right: 2rem;
    color:#0000EE;
    font-size: 0.85rem;
}

.final p{
    color:#6b708d;
}

.ordenar{
    text-align: left;
    padding: 1rem;
}

input{
    height: 3.5rem;
    width: 15rem;
    border: none;


}

::placeholder{
    background-image: url("https://uploads-ssl.webflow.com/61f7ff5634c23c5bef9d2e54/61f800bdf78ad83daac42661_Mail.svg");
    background-repeat: no-repeat;
    padding-left: 3rem;
    padding-bottom: 2rem;
    background-size: 1.5rem;
    
}

.button-final{
    background-color: #072ac8;
    color: white;
    padding: 1.30rem 3rem;
    border: none;
    margin-left: 1rem;

}

.suscribe h1{
    font-size: 2rem;
}

.suscribe p{
   color: #6b708d;
   padding-bottom: 2rem;
}
.img-mobile{
    display: none;
}
@media (max-width:769px){
    body{
        margin-top:0rem;
        margin-left: 0rem;
        margin-right: 0rem;
        background-color: #f2f4fc;
        font-family: 'Roboto', sans-serif;
    }
    .one-page{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-evenly;
        padding: 2rem;
        text-justify: center;
        text-align: center;
    }

    .one-page h1{
        text-justify: center;
        padding-left: 3rem;
        text-align: center;
    }

    .button-one{
        display: flex;
        flex-direction: column;
    }
    .list-pc{
        display:none;
    }
 
    .carts{
        padding: auto;
        height: 30rem;
        width:30rem;
    }

    .entrada h1{
        padding: 0;
        text-align: center;
        text-justify: justify;
    }

    .entrada li{
        display: none;
    }

  #projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .articles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    }

    .rectangle1{
    width: 14.50rem;
  }

  .img-final{
    display: none;
  }

  .img-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 8rem;
    justify-items: center;
    justify-items: center;
    
 }

 .business{
    height: 8rem;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding-right: 3rem;
 }
 .all-clients{
    background-repeat: repeat;
    margin: 0rem;
    padding: 0rem;
    background-size: cover;
 }
 .end-faces{
    display: none;
 }
 .first-faces{
    display: none;
 }

 .clients{
    font-size: auto;
 }
 .coment{
    margin: 0rem;
    padding: 0rem;
 }

 .title-one{
    padding: 0rem;
 }

 .yellow{
    padding: 0rem;
 }

 .services-list{
    display: flex;
    flex-direction: column;
 }

.final{
    display: flex;
    flex-direction: column;
}

.list1{
padding-right: 10rem;
}

.title-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simplify{
    background-color: white;
    padding-bottom: 2rem;
    margin: 1rem 13.4rem;
}

.buttonini{
    display: none;
}

.sections{
    margin: 1rem 3rem;
}
.suscribe{
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
}
.input-suscribe{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;

}
.button-final{
    margin-top: 1rem;
    width: 25rem;
    margin-right: 1rem;
}

.input-suscribe input{
    width: 15rem;
    padding-right: 3rem;
    padding-left: 7rem;
    justify-items: center;
    margin-left: 1rem;

}

}