body{
    margin-top:5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background-color: #f2f4fc;
    font-family: 'Roboto', sans-serif;
}

.entrada{
    display: flex;
    justify-content: space-around;
    align-content: center ;
}

ul a {
    text-decoration: none;
    text-align: center;
    color:grey;
}

.imagenlogo1{
    display: flex;
    justify-content: flex-start;
    height: 15px;
    padding-left: 2%;
    padding-top: 2% ;
}

ul{
    display: flex;
    justify-content: space-evenly;
}

.one-page{
    display: flex;
    align-content: space-around;
}

.carts{
    width: 40rem;
    align-content: flex-end;
}
.one-page h1{
    font-size: 2.5rem ;
    text-align: center;
    text-align: left;
}
.paragraph-one{
 text-align: center;
}

.container{
    height: 4rem;
    padding-left: 3rem;
    width: 50rem;
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.articles{
    display: inline-flex;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.projects h2{
    text-align: center;
    padding-top: 5rem;
}

.projects article{
    text-align: center;

}

.title-one{
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.button-one{
    display:flex;
    padding-top: 1rem;
}
.all-clients{
        background-color: #2D3F64;
}

.first-faces{
    display: flex;
    align-content: space-between;
}

.blond{
    height: 8rem;
    padding-top: 3rem;
    padding-left: 3rem;
}

.brown{
    height: 8rem;
    align-items: flex-end;
    padding-left: 45rem;
    padding-top: 3rem;
    
}

.clients{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    
}

.clients h1 {
    font-size: 2rem;
}

.yellow{
    text-align: center;
    color: #ffc600;
    font-size: 1.25rem;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-bottom: 3rem ;
    padding-top: 5rem ;
}

.coment {
    display: inline-flex;
    padding: 0rem;
}

.photo-woman{
    height: 2.5rem;
    padding-top: 1rem;
}

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.woman-name{
    color: #a2d6f9;
    font-size: 0.85rem;
}
.web{
    font-size: 0.6rem;
}

.end-faces{
    display: flex;
    align-content: space-between;
}

.man1{
    height: 8rem;
    padding-top: 3rem;
    padding-left: 3rem;
}

.man2{
    height: 8rem;
    padding-top: 3rem;
    padding-left: 45rem;
}

.services-list{
    display: inline-flex;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 5rem;
    align-items: center;
}
.all-services{
    padding-top: 5rem;   
    padding-right: 5rem;
    padding-left: 5rem;
}

.all-services p{
    padding-right: 5rem;
}

.all-services h2{
    font-size: 2rem;
}
